body {
    background-image: url('qqq.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    background-color: #4682B4;
    color: #fff;
    padding: 20px;
    border: 2px solid #000000;
}

.courses {
    background-color: #87CEFA;
}

#courses {
    background-color: #87CEFA;
    border: 2px solid #000000;
}

.about {
    background-color: #87CEFA;
}

#about {
    background-color: #87CEFA;
    border: 2px solid #000000;
}

.goals {
    background-color: #FFA500;
}

#goals {
    background-color: #FFA500;
    border: 2px solid #000000;
}
.carousel{
    border: 2px solid #000000;
    margin: 20px;
    padding: 20px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

section {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border: 2px solid #000000;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}
img {
    max-width: 100%;
}


.card{
   border-radius: 20px;
   margin-left: 10px;
   height: 200px;
   background-color: #fff;
   flex: 1;
   transition: .3s all ease;
   }
.card:hover{
   flex: 2;
   background-color: rgb(207, 207, 207);
   }
.carousel-caption h1{
   color: orange;
}

